@model travel_web.Models.DAL.Blog
@{
    ViewBag.Title = "BlogDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>@Model.Baslik İsimli Blog Güncelleme</h2>
@using (Html.BeginForm("BlogDuzenle", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Id)
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.LabelFor(x => x.Baslik)
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        <br />
        <div class="col-md-2">
            <div style="display:inline">
                @Html.LabelFor(x => x.BlogImage)
                @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
            </div>
            <div style="display:inline">
                <img src="@Url.Content(Model.BlogImage)" class="form-control" style="width:200px;height:100px;" />
            </div>
        </div>
        <br />
        @Html.LabelFor(x => x.Tarih)
        @Html.TextBoxFor(x => x.Tarih, "{0:d MMM yyyy}", new { @class = "form-control", type = "date" })
        <br />
        @Html.LabelFor(x => x.Aciklama)
        @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", rows = "3", cols = "1" })
        <br />
        <button class="btn btn-success"onclick="return confirm ('Değişiklikler Kaydetmek İstediğinize Emin Misiniz ? ');" >Kaydet</button>
    </div>/*
    <script type="text/javascript">

window.load = function() {
    @if(!string.IsNullOrEmpty(Model.Property1)) {
        alert("blah blah");
    }
}
    </script>*/
}
